:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  background-color: white;
  color: black;
  text-transform: capitalize;
}

.auth-container{
    background-image: url(./assets/images/ella.png);
    background-position: center center;
    background-size: cover;
}

.bg-overlay {
    background: linear-gradient(25deg, #378c2f52, #000000af);
}

.sidebar-contaier{
  background-color: #1f263e;
  color: white;
  border-top-right-radius: 3rem;
    height: 100vh;
}

.sidebar-contaier .ps-sidebar-container{
  background-color: #1f263e;
  color: white;
  border-top-right-radius: 3rem;
    height: 100vh;
}

.sidebar-contaier .ps-menu-button:hover{
  background-color: rgba(47, 140, 96, 0.5) !important;
  border-left: 5px solid rgba(47, 140, 96);
  border-radius: 0 1rem 0 0;
}


.sidebar-contaier .logo-li a:hover{
  background-color: transparent !important;
  border: none ;
}

.loader-container{
    display: flex;
    justify-content: center;
  margin-top: 3rem;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat linear-gradient(orange 0 0) 50%; 
  background: 
    var(--_c)/100% 50%,
    var(--_c)/50% 100%;
  border-radius: 50%;
  animation: l29 2s infinite linear;

}
@keyframes l29 {
  100% {transform: rotate(1turn)}
}


.head-table{
  background-color: gray;
  padding: 2rem;
}

.cursor-pointer{
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.4rem;
  
}

.back{
  background-color: #b0ff8c6b;
}




.transition {
  transition: transform 0.3s ease;
}

.rotate-180 {
  transform: rotate(180deg);
}

.dropdown-menu-custom {
  position: fixed;
  top: 90px; 
  right: 20px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  min-width: 150px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu-custom.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.table {
  width: 96% !important;
  margin: auto;
}




.pagination-container {
          display: flex;
          justify-content: center;
          margin-top: 20px;
        }
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}
.page-item {
  cursor: pointer;
  padding: 8px 20px !important;
  margin: 0 5px;
  border-radius: 5px;
  background: white;
  border: 1px solid #28a745;
  color: #28a745;
  font-weight: bold;
}
.page-item.active {
  background: #28a745;
  color: white;
}
.page-item:hover {
  background: #28a745;
  color: white;
}
.page-arrow {
  font-size: 18px;
}
.page-item.disabled {
  pointer-events: none;
  opacity: 0.5;
}